
<style>
    footer{
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        color: white;
        text-align: center;

     }
</style>
<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-30da">
    <div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">© 2023 Music&You</p>
  </div>
</footer>

