<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>


<div class="container">
    <div>
        <a href="addForFeedback" id="articleSubmit">Upload Track For Feedback</a>
    </div>
    <div>
        <a href="feedback/new" id="articleSubmit">Give Feedback</a>
    </div>

    <!-- <br><br>
    <section class="articlePost">

    </section> -->
    






</div>