<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>


<div class="container">
    <div>
        <a href="feedback/uploadTrack" id="articleSubmit">Upload Track For Feedback</a>
    </div>
    <!-- <div>
        <a href="feedback/new" id="articleSubmit">Give Feedback</a>
    </div> -->

    <div class="track">
        <%= tracks[0].description %>
        <div>
            <a href="feedback/<%= tracks[0].id %>" id="articleSubmit">Give Feedback</a>
        </div>
    </div>

    <!-- <br><br>
    <section class="articlePost">

    </section> -->
    






</div>