
    

<% layout('layouts/boilerplate') %>
<%- include('partials/navbar') %>




<script type="application/ld+json">{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "",
  "logo": "images/default-logo.png"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="Home">
  <meta property="og:type" content="website">
<meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
<body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en"><header class="u-clearfix u-header u-header" id="sec-25af"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <a href="https://nicepage.com" class="u-image u-logo u-image-1">
        <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
          <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Home.html" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Blog.html" style="padding: 10px 20px;">Blog</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Login.html" style="padding: 10px 20px;">Forum</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="blog/blog.html" style="padding: 10px 20px;">Samples</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="blog/blog.html" style="padding: 10px 20px;">Feedback</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="blog/blog.html" style="padding: 10px 20px;">Sign Up</a>
</li><li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-button-style u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="Login.html" style="padding: 10px 20px;">Login</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Home.html">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Blog.html">Blog</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html">Forum</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="blog/blog.html">Samples</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="blog/blog.html">Feedback</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="blog/blog.html">Sign Up</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Login.html">Login</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div></header>
  <section class="u-clearfix u-section-1" id="carousel_f8a5">
    <div class="u-clearfix u-sheet u-valign-bottom-sm u-valign-bottom-xs u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-col">
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-expand-resize u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout">
                    <img src="https://unsplash.com/photos/dj-controlling-turntable-at-night-8DP3AFexc6M" class="u-image u-image-2">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30">
              <div class="u-layout-row">
                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3">
                    <img src="images/953eab26afa3c9a923782213851ef5a898ec500ec9bcfd78bb9a4ec4308f0a1685aee29be363bb041ea889bb4457d8d30ee5ab4c65cc75f5df1f29_1280.jpg" class="u-image u-image-3" data-image-width="1280" data-image-height="731">
                  </div>
                </div>
                <div class="u-align-left u-container-style u-expand-resize u-image u-layout-cell u-right-cell u-size-30 u-image-4" src="">
                  <div class="u-container-layout u-container-layout-4">
                    <div class="u-align-center u-black u-container-style u-group u-opacity u-opacity-90 u-group-1">
                      <div class="u-container-layout u-container-layout-5">
                        <h2 class="u-text u-text-1">Music is Life</h2>
                        <p class="u-text u-text-2"> Unleash your creative potential and turn your musical dreams into reality</p>
                        <a href="https://nicepage.com/c/tiles-website-templates" class="u-border-2 u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-5-light-1 u-radius-50 u-white u-btn-1">Start now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-align-center u-clearfix u-image u-shading u-section-2" src="" data-image-width="1280" data-image-height="853" id="sec-8a79">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <h1 class="u-text u-text-default u-title u-text-1">Who we are?</h1>
      <p class="u-large-text u-text u-text-default u-text-variant u-text-2"> We're a vibrant community dedicated to inspiring your musical journey. 
We offer a platform for learning, networking with fellow producers, and 
sharing your music and samples. Join us in exploring the endless 
possibilities of music together.</p>
      <a href="#" class="u-btn u-button-style u-palette-2-base u-btn-1">Read More</a>
    </div>
  </section>
  <section class="u-clearfix u-section-3" id="sec-3e71">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-align-center u-text u-text-default u-text-1">Feedback</h2>
                <p class="u-align-center u-text u-text-default u-text-2">Get feedback from experienced producers&nbsp;</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="u-clearfix u-section-4" id="sec-1dd8">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-center u-text u-text-default u-text-1">Blog</h2>
                <p class="u-align-center u-text u-text-default u-text-2">Learn from step by step tutorials, read about latest news,&nbsp;</p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

      

      

