<% layout('layouts/boilerplate') %>

<%- include('../partials/navbar') %>


<div class="container " style="
background-color: white;
margin-top: 40px;
padding-top:30px;
padding-left:100px;
padding-right:100px;margin: 100px;
border-radius:15px;
">

<form id="myForm" method="post" class="needs-validation" novalidate>

    <div class="form-outline mb-4">
      <input value="<%= blog.topic %>" required  type="text" id="topic" name="topic" class="form-control form-control-lg" />
      <label class="form-label" for="topic">Topic</label> 
    </div>
    <div >
    </br>
        <textarea required id="summernote" name="article"><%= blog.article %></textarea>
    </div>
    <button id="articleSubmit" style="padding-bottom: 100px;">Submit The Article</button>
</form>

    
    <script>
        $(document).ready(function() {
            $('textarea#summernote').summernote({
                placeholder: 'Type feedback:',
                tabsize: 2,
                height: 300,
          toolbar: [

                ['image', ['resizeFull', 'resizeHalf', 'resizeQuarter', 'resizeNone']],
                ['float', ['floatLeft', 'floatRight', 'floatNone']],
                ['remove', ['removeMedia']]
            ,
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
              ],
              });
          });

          $('textarea#summernote').summernote('insertImage', url);
              
    </script>
</div>
